*.o
*.swp
*.swo
*.a
*.Po
*.prof
features.md
build/
cbuild/
crossdeps/*
crossbuild/*
ICONS/Makefile.in
Makefile.in
VisualC6/Makefile.in
VisualC8/Makefile.in
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
configure
data/Makefile.in
doc/Makefile.in
src/MAC/Makefile.in
src/MUSIC/Makefile.in
src/Makefile.in
src/PCSOUND/Makefile.in
src/POSIX/Makefile.in
src/SDL/Makefile.in
src/TEXTSCREEN/Makefile.in
ICONS/Makefile
Makefile
VisualC6/Makefile
VisualC8/Makefile
config.h
config.log
config.status
data/Makefile
data/doom2k.wad
data/rdatawad
doc/Makefile
prboom.spec
src/MAC/Makefile
src/MUSIC/Makefile
src/Makefile
src/PCSOUND/Makefile
src/POSIX/Makefile
src/SDL/Makefile
src/TEXTSCREEN/Makefile
src/TEXTSCREEN/libtextscreen.a
src/prboom-plus
src/prboom-plus-game-server
stamp-h1
deps/
codeblocks/Debug/
